.container {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  font-size: 20px;
}

.mr-1 {
  margin-right: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
