<table class="table">
  <thead>
    <tr>
      <th>Наименование платежа</th>
      <th>Стоимость</th>
      <th *ngFor="let month of months">{{ month.name }}</th>
      <th>Удалить</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let bill of bills">
      <td>{{ bill.name }}</td>
      <td>{{ bill.price }}</td>
      <td *ngFor="let month of months">
        <input
          type="checkbox"
          [checked]="isMonthChecked(bill.months, month.id)"
          (change)="onCheck($event,bill.id,month.id)"
          >
      </td>

      <td (click)="onDelete(bill.id)" class="tac"><i class="icon icon-del">x</i></td>
  </tr>
  </tbody>
</table>

<div class="sum">
  Израсходовано средств: <span class="total">{{ total }}</span>
</div>
